*
  margin: 0 auto
  padding: 0
  user-select: none
  outline: none
  box-sizing: border-box
  box-shadow: none
  text-decoration: none

a
  color: inherit
  text-decoration: none
  &:visited
    color: inherit
    text-decoration: none
  &:link
    color: inherit
    text-decoration: none

html, body
  width: 100%
  height: 100%
  position: relative

h3
  font-family: "Rubik", sans-serif
  font-weight: 500
  font-size: 20px

header
  width: 100%
  height: 80px
  position: fixed
  top: 0
  left: 0
  background: rgba(255, 255, 255, 0.8)
  z-index: 1
  border-bottom: 1px solid #f4f4f6
  h3
    cursor: pointer
    transition-duration: .5s
    font-size: 16px
    &:hover
      opacity: 0.5
      transition-duration: .5s
  input
    width: 300px
    padding-left: 10px
    border: 1px solid #e5e7ef
    font-size: 16px
    font-weight: 400
    border-radius: 10px

main
  height: auto
  width: 90%
  position: relative

footer
  width: 100%
  height: 150px
  background: #212121
  position: relative
  margin-top: 25px
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  align-items: center
  justify-content: space-between

.header-search-block
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: stretch
  justify-content: space-evenly
  width: 450px
  margin: 20px 0 0 50px
  img
    cursor: pointer

.header-pages
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  align-items: center
  justify-content: space-evenly
  width: 300px
  text-transform: uppercase
  line-height: 16.6px
  color: #404165
  position: absolute
  top: 35px
  right: 125px

.main-bg
  margin-top: 150px
  margin-left: calc(50% - 350px)
  position: relative
  h3
    position: absolute
    top: 50%
    left: 50px
    transform: translate(0%, -50%)
    font-family: "Rubik", sans-serif
    font-weight: 400
    font-size: 40px
    line-height: 70px
    color: #464646

.shop-filter
  margin-top: 25px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: center
  justify-content: space-between
  width: 100%

.filters-category
  margin-left: 0
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: center
  justify-content: space-between
  width: 600px

.filters-price
  margin: 0
  width: 120px

.category, .category-price
  width: auto
  height: 36px
  border-radius: 4px
  border: 1px solid #C8C8C8
  padding: 7.5px 10px 5px 10px
  font-family: "Rubik", sans-serif
  text-transform: uppercase
  cursor: pointer
  color: #000
  transition-duration: .5s
  font-size: 14px
  &:hover
    opacity: 0.6
    transition-duration: .5s

.active
  color: #fff
  background: #202525

.price
  padding-right: 5px
  font-family: "Rubik", sans-serif
  border-radius: 4px
  border: 1px solid #C8C8C8
  width: 120px
  height: 36px

.shop-items
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: center
  justify-content: start
  width: 100%
  height: auto
  margin-top: 25px
  margin-left: 15px

.shop-item
  width: 400px
  height: 410px
  border-radius: 15px
  background: rgba(241, 241, 241, 1)
  position: relative
  margin: 10px
  cursor: pointer
  transition-duration: .5s
  &:hover
    opacity: 0.6
    transition-duration: .5s
  img
    width: 400px
    height: 380px
  h3
    position: absolute
    left: 25px
    bottom: 15px
    font-family: "Rubik", sans-serif
    font-weight: 800
    font-size: 18px
    line-height: 24px
    color: #464646
  p
    position: absolute
    right: 25px
    bottom: 15px
    font-family: "Rubik", sans-serif
    font-weight: 400
    font-size: 16px
    line-height: 24px
    color: #464646

.footer-contacts
  width: 250px
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  align-items: baseline
  justify-content: space-evenly
  position: absolute
  top: 25px
  left: 75px

.footer-logo
  top: 10px
  position: relative

.contacts
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  align-items: center
  justify-content: space-evenly
  width: 150px
  h3
    color: #ffffff
    font-family: "Rubik", sans-serif
    font-style: normal
    font-weight: 400
    font-size: 24px
    line-height: 34px
  img
    cursor: pointer

.footer-email
  position: relative
  top: -10px
  left: 25%
  h3
    font-family: 'Rubik', sans-serif
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 24px
    color: #fff
  input
    background: #191919
    border-radius: 4px
    width: 330px
    border: none
    box-shadow: none
    line-height: 55px
    padding-left: 50px
    color: #ffffff
    font-size: 15px

.email-form
  img
    position: absolute
    top: 42px

.form-mail__ico
  left: 15px

.form-send
  right: 15px
  cursor: pointer

.active-page
  h3
    border-bottom: 1px solid #E5E7EF

.item-page
  width: 100%
  height: 100%
  position: relative
  background: #EBEBEB

.page-img
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-100%, -50%)

.page-controls
  width: 370px
  position: absolute
  top: 80px
  right: 0
  height: calc(100% - 80px)
  z-index: 1
  background: #fff
  padding: 25px 25px 0px 25px
  .item-name
    font-family: 'Rubik'
    font-style: normal
    font-weight: 500
    font-size: 24px
    line-height: 36px
    color: #202525
    user-select: text
  p
    font-family: 'Rubik'
    font-style: normal
    font-weight: 400   
    font-size: 16px
    line-height: 24px
    color: #404165
    margin-top: 25px
    user-select: text
  button
    background: #212121
    border-radius: 4px
    width: 300px
    height: 70px
    box-shadow: none
    border: none
    font-family: 'Rubik'
    font-style: normal
    font-weight: 500
    font-size: 24px
    line-height: 28px
    text-align: center
    letter-spacing: 3.6px
    text-transform: uppercase
    color: #FFFFFF
    cursor: pointer
    transition-duration: .5s
    margin-top: 25px
    &:hover
      opacity: 0.6
      transition-duration: .5s

.search-result
  position: fixed
  top: 65px
  left: 175px
  width: 300px
  min-height: 80px
  z-index: 1
  background: rgba(255, 255, 255, 0.8)
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-evenly
  flex-wrap: nowrap
  border-radius: 0px 0px 10px 10px
  img
    width: 80px
    height: 80px
  div
    width: 100%
    height: 80px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-evenly
    flex-wrap: nowrap
    cursor: pointer
    &:nth-child(odd)
      background: rgba(235, 235, 235, 0.8)
    &:last-child
      border-radius: 0px 0px 10px 10px
  p
    font-family: "Rubik", sans-serif
    font-size: 18px
    line-height: 24px
  h3
    font-size: 16px

.product-info
  border-bottom: 1px solid #D8D8D8
  position: relative

.controls-share
  margin-top: 25px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  width: 200px
  height: auto
  align-items: end
  justify-content: space-evenly
  padding-bottom: 15px

.controls-share-icons
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: center
  justify-content: space-evenly
  width: 100px
  height: 30px
  img
    width: 16px
    height: 16px
    cursor: pointer
    &:last-child
      width: 20px

.similar-product
  position: relative
  width: 300px
  height: 300px
  z-index: 1
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  align-items: center
  justify-content: space-evenly
  margin-top: 25px
  cursor: pointer
  transition-duration: .5s
  &:hover
    opacity: 0.8
    transition-duration: .5s
  img
    width: 300px
    height: 260px
    position: relative
    background: #EBEBEB
    border-radius: 15px
  p
    font-family: "Rubik", sans-serif
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 24px
    color: #404165
    margin-top: 25px

.product-text-block
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  align-items: baseline
  justify-content: space-between
  height: auto
  width: 100%
  h3
    font-family: 'Rubik'
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 24px
    color: #202525
    margin: 0
  p
    margin: 0

.product-title
  font-family: 'Rubik', sans-serif
  font-style: normal
  font-weight: 500
  font-size: 14px
  line-height: 27px
  color: #202525
  mix-blend-mode: normal
  opacity: 0.7
  align-self: flex-start
  margin-left: 0px

.order
  width: 100vw
  height: 100vh
  z-index: 10
  background: transparent
  top: 0
  left: 0
  position: fixed

.order-block
  width: 600px
  height: 450px
  background: #fff
  border-radius: 10px
  position: relative
  top: calc(50% - 225px)
  z-index: 15
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  align-items: center
  justify-content: center
  text-align: center
  &:nth-child(2)
    margin-top: -50px
  .block-close
    width: 15px
    height: 20px
    position: absolute
    top: 10px
    right: 10px
    cursor: pointer

.block-text
  font-family: 'Rubik', sans-serif
  margin-top: 40px
  p
    font-family: 'Rubik', sans-serif
    padding: 5px
    font-weight: 400
    &:nth-child(2)
      font-size: 24px
      font-weight: bold

.header-menu
  display: none
    
@media all and (max-width: 600px)

  footer
    display: none

  .header-pages
    display: none

  .header-search-block
    width: 380px
    img
      margin: 0px 15px 0px 10px

  .header-menu
    display: block
    width: 30px
    height: 30px
    position: absolute
    top: 25px
    right: 10px
    img
      trsition-duration: .5s
      &:hover
        opacity: 0.8
        transition-duration: .5s

  .menu-block
    width: 100%
    height: 100%
    background: #fff
    position: fixed
    top: 0
    right: 0
    z-index: 10
    img
      position: absolute
      top: 20px
      right: 20px

  .menu-content
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    align-items: center
    justify-content: space-evenly
    margin-top: 230px
    position: relative
    p
      font-family: 'Rubik', sans-serif
      font-style: normal
      font-weight: 400
      font-size: 32px
      line-height: 32px
      color: #202525
      margin-top: 70px

  .header-search-block
    margin-left: 0px
    left: 0
    input
      width: 235px
      left: 0
      margin-left: 0

  .main-bg
    margin-left: 0
    h3
      width: 275px
    img
      width: 100%
      height: 200px

  .search-result
    left: 50%
    transform: translate(-50%, 0%)

  .shop-items
    margin-left: 0

  .shop-item
    left: 50%
    width: 90%
    transform: translate(-50%, 0)
    margin-left: 0
    img
      width: 100%
      height: 80%

  .shop-filter
    width: 90%

  .filters-category
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: 1fr 1fr 1fr
    margin-left: 0
    div
      width: 88px
      margin: 5px
      text-align: center

  .filters-price
    margin-left: 5px

  .footer-email
    display: none

  main
    width: 100%